{% include "base.html"%}
{% set screen_data = screen_data %}
<style>
.bk_img {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/90b4db6e-3d5e-4236-8250-a9a6fef0ef4a/daf3urx-c7669ee1-860e-4236-9d70-c056b1d2807d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi85MGI0ZGI2ZS0zZDVlLTQyMzYtODI1MC1hOWE2ZmVmMGVmNGEvZGFmM3VyeC1jNzY2OWVlMS04NjBlLTQyMzYtOWQ3MC1jMDU2YjFkMjgwN2QuanBnIn1dXX0.x2bUzW5UPi6Z1vHJ1KE4NK02qRdIsOUwuVxTHJeif84');
  background-size: 300px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
}
.message_left {
  border-radius: 30px;
  margin: 0px !important;
  color: #1547f8 !important;
  background-color: #efd3ce !important;
  padding: 2px !important;
}
.message_right {
  border-radius: 30px;
  margin: 0px !important;
  color: #1547f8 !important;
  background-color: #e8f8d1 !important;
  padding: 2px !important;
}
.webix_view > .webix_disabled {
  cursor: default !important;
}
.webix_button {
  margin: 0px !important;
}
.banner .logo, .banner .title, .banner {
  height: 0px !important;
  visibility: hidden !important;
}
.btn_back .webix_el_box .webix_button {
  color: #ffffff !important;
  background: #b2b6b8 !important;
  font-size: 250%;
}
.eighty {
  width: 30%;
}
</style>
<script>
  var header = {rows:[
    {cols:[
      {view:"button", id:"btn_back", value:"<", css:"btn_back", width:50, height:50},
      {view:"label", id:"active_condition", label:"", align:"center", width:50},
      {view:"label", label:"{{contact_name}}"}
    ]}
  ]};
  var message = {rows:[
{% for message in messages %}
{% if message.pos == 'message_left' %}
    {view:"label", label:"{{contact_name}}"},
    {cols:[
      {view:"template", template:"<p style='margin: 0px;'>{{message.message}}</p>", width:280, autoheight:true, css:"message_left"},
      {}
    ]},
{% elseif message.pos == 'message_right' %}
    {view:"label", label:"Me", align:"right"},
    {cols:[
      {},
      {view:"template", template:"<p style='margin: 0px;'>{{message.message}}</p>", width:280, autoheight:true, css:"message_right"}
    ]},
{% endif %}
{% endfor %}
  ]};
  var text_area = {rows:[
    {view:"label", id:"txt_typing", label:""},
    {view:"label", label:"စာလုံးရေ(၂၀၀)အထိသာ"},
    {cols:[
      {view:"textarea", id:"send_msg", name:"send_msg", value:"", height:100, attributes:{maxlength:200}},
      {view:"button", id:"send_btn", value:"send", css:"webix_primary", width:100, height:100, click:function(){logic.send();}}
    ]},
  ]};

  var form = {
    view:"form",
    id:"form",
    borderless:true,
    scroll:true,
    css:"bk_img",
    elements:[
      message
    ]};
  var logic = {
    text:"",
    init:function() {
      $$("btn_back").attachEvent("onItemClick", logic.toBack);
      $$("form").scrollTo(0, 9000);
      logic.dataload();
      $$("send_msg").setValue(webix.storage.session.get("{{user_id}}#{{contact_id}}"));
      logic.text = webix.storage.session.get("{{user_id}}#{{contact_id}}");
      logic.startTimer();
    },
    startTimer:function() {
      timer = setInterval(function() { 
        logic.dataload();
      }, 1000);
    },
    dataload:function() {
      var _getData = {
        isTyping: (logic.text == $$("send_msg").getValue()) ? "0" : "1"
      };
      logic.text = $$("send_msg").getValue();
      WSS.GET("api/ApiMessage", _getData, function(text, data, xml) {
        if(WSS.isAjaxError()) return false;
        var _obj = JSON.parse(text);
        console.log(_obj.is_typing);
        if(_obj.is_typing == "1"){
          $$("txt_typing").setValue("{{contact_name}} is typing...");
        }else{
          $$("txt_typing").setValue("");
        }
        $$("active_condition").setValue(_obj.active_condition);
        var _largest_message_no = {{largest_message_no}};
        if(_largest_message_no < _obj.largest_message_no) {
          webix.storage.session.put("{{user_id}}#{{contact_id}}", $$("send_msg").getValue());
          WSS.pageMove("messenger/Message");
        }
      });
    },
    send:function() {
      var message = $$("send_msg").getValue();
      if(message == "") return false;
      var _postData = {
        largest_message_no: {{largest_message_no}},
        message: message
      };
      WSS.POST("api/ApiMessage/sendMessage", _postData, function(data) {
        if (WSS.isAjaxError()) {
            WSS.errorMessage("Send Failed");
            return false;
        }
        webix.storage.session.put("{{user_id}}#{{contact_id}}", "");
        WSS.pageMove("messenger/Message");
      });
    },
    toBack:function() {
      webix.storage.session.put("{{user_id}}#{{contact_id}}", $$("send_msg").getValue());
      WSS.pageMove("messenger/Home");
    },
    pageMove:function(page) {
      WSS.pageMove(page);
    }
  };
  webix.ready(function () {
    webix.ui(
      {rows:[
        header,
        form,
        text_area,
      ]}
    );
    logic.init();
  });
</script>
